@model WebGwenchana.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="section">
    <div class="section-header">
        <h1>Thông tin khách hàng</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard</a></div>
            <div class="breadcrumb-item"><a asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index">Danh sách khách hàng</a></div>
            <div class="breadcrumb-item">Thông tin khách hàng</div>
        </div>
    </div>

    <div class="section-body">
        <div class="row">
            <div>
                <img style="width:200px; height:200px" src="~/images/customer/@Model.Avatar" />
            </div>
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Thông tin</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-md">
                                <tbody>
                                    <tr>
                                        <td class="font-weight-bold">Customer ID</td>
                                        <td>@Model.CustomerID</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Tên khách hàng</td>
                                        <td>@Model.FullName</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Ngày sinh</td>
                                        <td>@Model.Birthday</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Email</td>
                                        <td>@Model.Email</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Phone</td>
                                        <td>@Model.Phone</td>
                                    </tr>

                                    <tr>
                                        <td class="font-weight-bold">Địa chỉ</td>
                                        <td>@Model.Address</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Tỉnh thành</td>
                                        <td>@if (Model.LocationID != null) 
                                            {@Model.Location.Name
                                            } 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Active</td>
                                        <td>@Model.Active</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Ngày tạo</td>
                                        <td>@Model.CreateDate</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.CustomerID" class="btn btn-warning">Change State</a>
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</section>